<link rel="stylesheet" href="css/home.css">

<div id="home-container">
    
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea id="post-content" name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div id="posts-list-container">
            <ul>
                <% for(post of posts) { %>

                    <%- include('_post'); -%>
                
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <div id="friends-list-container">
        <ul>
            <% for(user of all_users) { %>
                <li>
                    <img src="<%= user.avatar %>" alt="Dp">
                    <a href="users/profile/<%= user.id %>"><%= user.name %></a>
                </li>
            <% } %>
        </ul>
    </div>
    </section>

    <section id="chat-box">
        <%- include('_chat_box'); %>
    </section>
</div>
<script src="/js/home_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/toggle_likes.js"></script>

<script>
    $('.toggle-like-btn').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>